{% include 'base.html' %}

{% block content %} 
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Us</h2>
        <p>I have this special pleasure of extending to you all very warm greetings from me and the entire Agent Tango Family. In personal capacity, I am pleased to be welcomed by the Hospital’s Board of Directors to chair the hospital and move forward. Further, I find greater pleasure in being welcomed so warmly by the entire Agent Tango family comprised of the staff members, doctors, other medical personnel including the shareholders.</p>
      </div>

  <div class="row">
  <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center
   align-items-stretch position-relative">
  <a href="https://youtu.be/p7liQk45fFk" class="glightbox play-btn mb-4"></a>
        </div>

  <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch
   justify-content-center py-5 px-lg-5">
          
          <div class="icon-box">
            <div class="icon"><i class="bx bx-heart"></i></div>
            <h4 class="title"><a href="">HEALTH IS WEALTH</a></h4>
            <p class="description">A healthy body is defined as the overall ability of the body to function well. It includes the physical, mental, emotional, and social health of all individuals.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-health"></i></div>
            <h4 class="title"><a href="">EMERGENCY</a></h4>
            <p class="description">An emergency department (ED) is part of a hospital that provides 24-hour emergency care to patients who need urgent medical attention.</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="bx bx-help-circle"></i></div>
            <h4 class="title"><a href="">SERVICES </a></h4>
            <p class="description">Hospital services refers to the medical and surgical services, as well as the accompanying labs, equipment, and employees, that make up a hospital's or hospital system's medical and surgical mission.</p>
          </div>
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  
               <!-- ======= Footer ======= -->
               <footer id="footer">
                <div class="footer-top">
                  <div class="container">
                    <div class="row">
              
                      <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                          <h3>Agent_Tango_Care</h3>
                          <p>
                            Bafal, Kathmandu<br>
                            13 KTM, NEPAL<br><br>
                            <strong>Phone:</strong> 9891232132<br>
                            <strong>Email:</strong> agenttango@gmail.com<br>
                          </p>
                          <div class="social-links mt-3">
                            <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://skype.com/" class="google-plus"><i class="bx bxl-skype"></i></a>  
                            <a href="https://linkedin.com/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                          <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                          <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
                          <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
                          <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
                        </ul>
                      </div>
              
                      <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                          <li><i class="bx bx-chevron-right"></i> <a href="/patient-appointment">Make appointments</a></li>
                          <li><i class="bx bx-chevron-right"></i> <a href="/faq">FAQs</a></li>
            
                        </ul>
                      </div>
              
                    </div>
                  </div>
                </div>
              
                <div class="container">
                  <div class="copyright">
                    &copy; Copyright 2021 <strong><span>Agent_Tango_Care</span></strong>. All Rights Reserved
                  </div>
                  </div>
                </div>
              </footer><!-- End Footer -->
              <div id="preloader"></div>
              <a href="{% url 'about' %}" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
            {% endblock content %}