{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

        <link rel="icon" type="image/png" href="{% static 'styles/img/icons/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/vendor/bootstrap/css/bootstrap.min.css' %}">
        
          <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        
          <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
        
          <link rel="stylesheet" type="text/css" href="{% static 'styles/vendor/animate/animate.css' %}">
        	
          <link rel="stylesheet" type="text/css" href="{% static 'styles/vendor/css-hamburgers/hamburgers.min.css' %}">
        
          <link rel="stylesheet" type="text/css" href="{% static 'styles/vendor/animsition/css/animsition.min.css' %}">
        
          <link rel="stylesheet" type="text/css" href="{% static 'styles/vendor/select2/select2.min.css' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'styles/vendor/daterangepicker/daterangepicker.css' %}">
       
          <link rel="stylesheet" type="text/css" href="{% static 'styles/css/util.css' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'styles/css/main.css' %}">
          {% comment %} <link href="{% static 'https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' %}" rel='stylesheet'>
          <link rel="stylesheet" type="text/css" href="{% static 'styles/css/style1.css' %}"> {% endcomment %}
        
        <script src="{% static 'styles/js/main.js' %}"></script>
        <script src="{% static 'styles/js/main1.js' %}"></script>
        <script src="{% static 'styles/js/map-custom.js' %}"></script>
        <script src="{% static 'styles/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'styles/vendor/animsition/js/animsition.min.js' %}"></script>
        <script src="{% static 'styles/vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'styles/vendor/bootstrap/js/bootstrap.min.js' %}"></script> 
        <script src="{% static 'styles/vendor/select2/select2.min.js' %}"></script> 
        <script src="{% static 'styles/vendor/daterangepicker/moment.min.js' %}"></script>
        <script src="{% static 'styles/vendor/daterangepicker/daterangepicker.js' %}"></script>
        <script src="{% static 'styles/vendor/countdowntime/countdowntime.js' %}"></script>
        <script src="{% static 'styles/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'styles/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'styles/vendor/php-email-form/validate.js' %}"></script>
        <script src="{% static 'styles/vendor/purecounter/purecounter.js' %}"></script>
        <script src="{% static 'styles/vendor/swiper/swiper-bundle.min.js' %}"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        <link rel="stylesheet" type="text/css" href="{% static 'styles/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/css/signup.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <link href="{% static 'styles/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
        <link href="{% static 'styles/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'styles/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'styles/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        {% comment %} <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
        <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css"/>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script> {% endcomment %}


        <link href="{% static 'styles1/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="{% static 'styles1/css/styles.css' %}" />
        <script type="text/javascript" src="{% static 'styles1/js/bootstrap.min.js' %}"></script>
        <title>Agent Tango</title>
    </head>
    {% block content %}  
            <!-- CONTACT -->
            {% if messages %}
            {% for message in messages %}
             <p {% if message.tags %} class="alert {{message.tags}} mb-2 text-center" {% endif %}>{{message}}</p>
            {% endfor %}
            {% endif %} 
    <body>
           <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% comment %} <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#1E9BE4"> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="navbar-toggler-icon"></span> </button> 
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav">
                              <a 
                              href="{% url 'home' %}"
                              class="navbar-brand mb-0 h1">
                              <img
                              class="d-inline-block align-top"
                               src="{% static 'styles/img/logo1.png' %}"
                              width="60" height="45" />   
                            </a>
                                <li class="nav-item"> <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a> </li>
                                {% if request.user.is_patient %} 
                                <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}">About Us </a> </li>
                               
                                <li class="nav-item"> <a class="nav-link" href="{% url 'contact' %}">Contact Us</a> </li>

                                <li class="nav-item"> <a class="nav-link" href="{% url 'services' %}">Services</a> </li>

                                {% endif %}
                            </ul>
                            <ul class="ml-auto">
                            <form action="{% url 'search' %}" method="POST" class="d-flex">
                              {% csrf_token %}
                              <input class="form-control me-2" type="text" name="searched" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline success" type="submit"> Search</button>
                            </form>   
                            <ul class="navbar-nav ml-auto">
                              {% if request.user.is_patient %} 
                              <ul class="navbar-nav">
                                <li class="nav-item"> <a class="nav-link" href="{% url 'faq' %}">FAQs</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{% url 'patient-appointment' %}">Book an appointment</a> </li>
                              </ul>
                              {% endif %}
                              {% if request.user.is_authenticated %}
                                 <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">My Account</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                        <div class="dropdown-divider"> </div> <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>  
                                        {% else %}
                                        <li class="nav-item"> <a class="nav-link" href="{% url 'login_view' %}">Login</a> </li>  
                                        <li class="nav-item"> <a class="nav-link" href="{% url 'register' %}">Register</a> </li>
                                        {% endif %}
                                      </div>
                                      </li>
                                      </ul>
                                      </ul>
                            
                                        </div>
                                        </nav> {% endcomment %}
                                        <nav class="navbar navbar-expand-sm navbar-light "style="background-color:#4A8FE7">
 
                                          <div class="container-fluid">
                                          
                                            <button
                                              class="navbar-toggler"
                                              type="button"
                                              data-mdb-toggle="collapse"
                                              data-mdb-target="#navbarSupportedContent"
                                              aria-controls="navbarSupportedContent"
                                              aria-expanded="false"
                                              aria-label="Toggle navigation"
                                            >
                                              <i class="fas fa-bars"></i>
                                            </button>
                                        
                                         
                                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                              <!-- Navbar brand -->
                                              <a class="navbar-brand mt-2 mt-lg-0" href="#">
                                                <img
                                                  src="{% static 'styles/img/logo1.png' %}"
                                                  height="60"
                                                  alt="Agent Tango"
                                                  loading="lazy"
                                                />
                                              </a>
                                              
                                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <li class="nav-item">
                                                  <a class="nav-link" style="font-size: 17px;" href="{% url 'home' %}">Home</a>
                                                </li>
                                              
                                                {% if request.user.is_patient %} 
                                                <li class="nav-item">
                                                  <a class="nav-link" style="font-size: 17px;"href="{% url 'about' %}">About Us</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" style="font-size: 17px;"href="{% url 'contact' %}">Contact Us</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" style="font-size: 17px;"href="{% url 'services' %}">Services</a>
                                                </li>
                                                  {% comment %} <li class="nav-item">
                                                  <a class="nav-link" style="font-size: 17px;"href="{% url 'doctor_list' %}">Doctors</a>
                                                </li> {% endcomment %}
                                              
                                              </ul>
                                                {% endif %}
                                            
                                                
                                    
                                              {% comment %} <ul class="mt-auto "> {% endcomment %}
                                                
                                        
                                            </div>
                                            <div>
                                              <form action="{% url 'search' %}" method="POST" class="d-flex">
                                              {% csrf_token %}
                                              <input class="form-control me-2" type="text" name="searched" placeholder="Search" aria-label="Search">
                                              <button class="btn btn-outline success" type="submit">Search</button>
                                            </form>  
                                          </div>                                
                                          </div>
                                            <div class="navbar-text">
                                              <div class="collapse navbar-collapse" id="navbar">
                                                {% if request.user.is_active %}
                                                <ul class="navbar-nav ml-auto">
                                                  {% if request.user.is_patient %} 
                                                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                    <li class="nav-item"> <a class="nav-link" style="font-size: 17px;"href="{% url 'faq' %}">FAQs</a>
                                                    <li class="nav-item"> <a class="nav-link" style="font-size: 17px;"href="{% url 'patient-appointment' %}">Book an appointment</a>
                                                  </ul>
                                                  {% endif %}
                                                  {% if request.user.is_authenticated %}
                                                <div class="collapse navbar-collapse" id="navbar-list-4">
                                                  <ul class="navbar-nav">
                                                      <li class="nav-item dropdown">
                                                      <a class="nav-link dropdown-toggle" href="{% url 'profile' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="{{ user.profile.image.url }}" width="35" height="35" class="rounded-circle">
                                                        
                                                      </a>
                                                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <a class="dropdown-item" style="color: black !important;" href="{% url 'profile' %}">Edit Profile</a>
                                                        <a class="dropdown-item" style="color: black !important;" href="{% url 'logout' %}">Log Out</a>                            
                                                      </div>                    
                                                    </li>   
                                                  </ul>
                                                  {% endif %} 
                                                </div>
                                                {% else %}
                                                <ul class="navbar-nav">
                                                  <li class="nav-item">
                                                    <a class="nav-link" style="font-size: 17px;" href="{% url 'login_view' %}">Login</a>
                                                  </li>
                                                  <li class="nav-item">
                                                    <a class="nav-link" style="font-size: 17px;" href="{% url 'register' %}">Register</a>
                                                  </li>
                                                </ul>
                                                {% endif %}            
                                                </div>
                                            </div>
                                            </div>
                                        
                                          </div>
                                         
                                        </nav>
                                        
                                        </div>
                                        </div>
                                        </div>
                                        </body>
                                        </html>
                                    
    
    {% endblock content %}