
{% load static %}
{% block content %}  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<link rel="stylesheet" type="text/css" href="{% static 'styles/css/profile.css' %}">  
<link rel="icon" type="image/png" href="{% static 'styles/img/icons/favicon.ico' %}">
<link href="{% static 'styles/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

<div class="form-gap"></div>
<div class="container">
   {% comment %} <div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">  {% endcomment %}
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
         <form action="" method="post" navalidate class="shadow p-5">
           {% csrf_token %}
           {% for fm in form %}
            <div class="form-group">
             {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
             </div>
            {% endfor %}
            <input type ="submit" class="btn btn-primary mt-3" value="Submit">
            {% if form.non_field_errors %}
             {% for error in form.non_field_errors %}
              <p class="alert alert-danger my-3">{{error}}</p>
             {% endfor %}
            {% endif %}
            </form>
        </div>    
       </div>
    </div>

                
{% endblock content %}
    