
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/chg_password.css' %}">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/profile.css' %}">
    <link rel="icon" type="image/png" href="{% static 'styles/img/icons/favicon.ico' %}">
    <script src="{% static 'styles/js/pass_change.js' %}"></script>
    <div class="container my-5">
        <div class="row">
         <h1>Welcome {{ request.user }}.<br> Do you want to change your password?</h1><br><br>
         <div class="col-sm-2 border-end">
          <ul class="list-unstyled">
           <button type="button" class="btn btn-dark"><a href="{% url 'profile' %}">Profile</button></a>
           <button type="button" class="btn btn-dark"><a href="{% url 'logout' %}">Logout</button></a>

   </ul>
  </div>
  {% comment %} <div class="col-sm-9 offset-sm-1">
    <h3>Change Password</h3>
    <hr>
   <form action="" method="post" class="forms"> 
    {% csrf_token %}
        {% for fm in form %}
        <div class="formlabels">
            {{fm.label_tag}} {{fm}} <small class = "text-danger" id="errortext">{{fm.errors|striptags}}</small> <!--printing labels,field and errors -->
        </div> 
         {% endfor %}              
         <br> 
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
     <button type="submit" class="btn btn-primary">Save</button>
   </form>
  </div>
 </div>
</div>
<style>
    .formlabels input{
        width: 100%;
    }
    .forms{
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        width: 50%;
    }
</style> {% endcomment %}
<div class="mainDiv">
    <div class="cardStyle">
        <form action="" method="post" class="forms"> 
            {% csrf_token %}
                {% for fm in form %}
                <div class="formlabels">
                    {{fm.label_tag}} {{fm}} <small class = "text-danger" id="errortext">{{fm.errors|striptags}}</small> <!--printing labels,field and errors -->
                </div> 
                 {% endfor %}              
                 <br> 
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
             <button type="submit" class="btn btn-primary">Save</button>
           </form>
           
    </div>
  </div>

  
{% endblock content %}
