{% include 'base.html' %}

{% load static %}
{% block content %}
<div class="container">
    <div class="row my-3">
       <div class="col-sm-6 offset-sm-3">
           <h4>Reset Password Completed!</h4> 
           {% comment %} <div><iframe src="https://giphy.com/gifs/mailchimp-complete-task-icPn4EwqNpAsZQmInZ" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div> {% endcomment %}
           <div><iframe src="https://giphy.com/embed/KMHaS7N7b7r42nPNys" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
           <div class="icon-box">
            <div class="icon"><i class="bx bx-check-shield"></i></div>
            <h4 class="title">Password Reset Done?</h4>
            <p class="description">Go back to your profile</p>
          </div>
            <li class="d-grid"><a href="{% url 'login_view' %}" class="btn btn-info"><b>Login Now</b></a></li>
            
            
        </div>
       </div>
      </div>     
{% endblock content%} 