{% include 'base.html' %}

{% load static %}
{% block content %}
<div class="container">
    <div class="row my-3">
       <div class="col-sm-6 offset-sm-3">
           <h4>Reset Password Completed!</h4> 
           {% comment %} <div><iframe src="https://giphy.com/gifs/mailchimp-complete-task-icPn4EwqNpAsZQmInZ" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div> {% endcomment %}
           <div><iframe src="https://giphy.com/embed/KMHaS7N7b7r42nPNys" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
           <div class="text-primary fw-bold">Password Reset Done? <br> Then </br><a href="{}"
            class="text-danger"><a href="{% url 'login' %}">Login Now</a></div>
        </div>
       </div>
      </div>     
{% endblock content%} 